/* CSS for the main map website. Note that the web component has an isolated style which you can't change here.*/
html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #dbe8a5;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}
#top-left-stack {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
  display: flex;
  flex-direction: column;
  position: static;
  z-index: 2;
  margin: 8px 0 0 8px;
  padding: 8px 12px 10px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  font-size: 10px;
}

emf-map-app {
  width: 100%;
  height: 100%;
}

.maplibregl-ctrl.maplibregl-ctrl-attrib,
header {
  backdrop-filter: blur(3px) saturate(80%);
}

@media all and (display-mode: standalone) {
  /* Hide header in PWA mode */
  header {
    display: none;
  }
}

@media (max-height: 750px) {
  #subtitle {
    display: none;
  }
}

h1 {
  margin: 0px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}
h1 a {
  color: #333;
  text-decoration: none;
}

p {
  margin-top: 1px;
  margin-bottom: 4px;
}
