.phones-popup {
  min-width: 150px;
  margin-top: -10px;
}

.phones-popup a:link,
.phones-popup a:visited {
  color: #333;
}

.phones-popup h3 {
  font-size: 1.5em;
}

.phones-popup p {
  margin: 0.3em 0 0;
}

.phones-popup a:has(img) {
  display: block;
}

.phones-popup img {
  display: block;
  width: 75%;
  margin: 0 auto;
  margin-top: 0.5em;
}
